.charm_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.charm_a_box {
    width: auto;
    margin: 10px;
    border: 2px black solid;
    border-radius: 10px;
    overflow: hidden;
}

.charm_header {
    width: 100%;
    border-bottom: 2px #e3e3e3e3 solid;
}

.charm_img {
    width: 100%;
    height: auto;
}

.charm_desc {
    margin: 10px;
}

.charm_desc h1 {
    font-weight: bold;
    font-size: clamp(20px, 3vw, 35px);
}

.charm_desc p {
    margin-top: 10px;
    font-size: clamp(14px, 2vw, 22px);
}

.charm_sp {
    display: none;
    height: auto;
}

.charm_header_sp {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

@media (max-width: 767px) {
    .charm_box {
        grid-template-columns: 1fr 1fr;
    }

    .charm_desc h1 {
        font-size: clamp(16px, 4vw, 40px);
    }

    .charm_sp {
        display: block;
    }
}