/* 注意

ダメなやつ
h2 {
    font-size: 20px;
}

この設定方法ダメ！
その代わりにクラス名で管理して！
例えば<h2 className="h2">みたいに指定してクラス名でcss割り当てるならok

okなやつ
.h2 {
    font-size: 20px;
}

だからいま<h3>| 実行委員長</h3>みたいに指定してると思うけどこれを
<h3 className="">| 実行委員長</h3>にして名前つけてあげて
分からないことあったら聞いて。*/

.roller {
    position: absolute;
    top: 0;
    z-index: -1;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    height: 23vw;
}

.e-title {
    font-family: Impact;
    font-size: 10vw;
}

@media (max-width: 767px) {
    .roller {
        right: 0;
        left: auto;
    }
}

@media (min-width: 768px) and (max-width: 1399px) {
    .roller {
        right: 0;
        left: auto;
    }
}

@media (max-width: 768px) {
    .e-title {
        font-size: 12vw;
    }

    .header {
        height: 27vw;
    }
}

@media (min-width: 1400px) {
    .roller {
        left: 50%;
        transform: translateX(-50%);
        width: 1400px;
    }

    .header {
        width: 100%;
        height: 300px;
    }

    .e-title {
        font-size: 140px;
    }
}

.main {
    margin: 10px;
}

.about {
    font-size: 80px;
    font-weight: bold;
    padding: 30px;
}

@media (max-width: 768px) {
    .about {
        font-size: 50px;
    }
}

.member-picture{
    margin : 30px;
}

/*委員長の言葉で全日と定時をｐｃの時に横並びにする*/
@media(min-width: 768px){
    .container{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

    }

    .sent{
        width: 50%;
        padding: 30px;
    }
}

/*pcの時メンバー名と写真の横並び*/
@media(min-width: 768px){
    .members{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .member-picture{
        width: 50%;
    }
}

.members{
    margin-bottom: 6px;
}

.sent{
    margin-bottom: 6px;
}

.editor {
    margin-top: 30px;
}

.member-name {
    font-size: 15px;
}

.h3 {
    font-size: 18px;
}

.bun{
    font-size: 18px;
    padding: 19px;
}

