.roller {
    position: absolute;
    top: 0;
    z-index: 1;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 23vw;
}

.ab-title {
    font-family: Impact;
    font-size: 10vw;
    z-index: 3;
}

@media (max-width: 767px) {
    .roller {
        right: 0;
        left: auto;
    }
}

@media (min-width: 768px) and (max-width: 1399px) {
    .roller {
        right: 0;
        left: auto;
    }
}

@media (max-width: 768px) {
    .ab-title {
        font-size: 12vw;
    }

    .header {
        height: 27vw;
    }
}

@media (min-width: 1400px) {
    .roller {
        left: 50%;
        transform: translateX(-50%);
        width: 1400px;
    }

    .header {
        width: 100%;
        height: 300px;
    }

    .ab-title {
        font-size: 140px;
    }
}

.about_toppers {
    padding-bottom: 20px;
}

.about-pc-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.about_main {
    padding: 10px 25px 10px 25px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.about_main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-image: -webkit-linear-gradient(top, transparent, #333 25%, #333 75%, transparent);
    background-image: linear-gradient(to bottom, transparent, #333 25%, #333 75%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}

.about_main::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-image: -webkit-linear-gradient(top, transparent, #333 25%, #333 75%, transparent);
    background-image: linear-gradient(to bottom, transparent, #333 25%, #333 75%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}

.about_suiran h1,
.about_top_member h1,
.about_site h1,
.about_commute h1 {
    font-size: clamp(25px, 4.3vw, 43px);
}

.about_suiran h2,
.about_top_member h2,
.about_site h2,
.about_commute h2 {
    font-size: clamp(18px, 3.3vw, 32px);
}

.about_suiran h3,
.about_top_member h3,
.about_site h3,
.about_commute h3 {
    font-size: clamp(17px, 2.5vw, 28px);
}

.about_suiran p,
.about_top_member p,
.about_site p,
.about_commute p {
    font-size: clamp(14px, 2vw, 20px);
    margin-bottom: 1.5vh;
}

.about_suiran,
.about_top_member,
.about_site,
.about_commute {
    margin-bottom: 1.5vh;
}

.about_suiran a,
.about_top_member a,
.about_site a,
.about_commute a {
    font-size: clamp(14px, 2vw, 20px);
    color: rgb(75, 75, 255);
    border-bottom: 2px solid rgb(75, 75, 255);
}

.about_suiran a:hover,
.about_top_member a:hover,
.about_site a:hover,
.about_commute a:hover {
    color: rgb(42, 42, 255);
    border-bottom: 2px solid rgb(42, 42, 255);
}

.background_about_img {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    will-change: transform;
}