.body {
    margin: 0;
}

.img,
.svg {
    display: block;
}

.img {
    height: auto;
    max-width: 100%;
}

.hidden-x-side {
    overflow-x: hidden;
}

/** ヘッダーの共通デザイン **/

.mid_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid_contenter {
    width: 90%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
}

.slidebox-animation {
    position: absolute;
    z-index: 1;
}

.headbox {
    position: relative;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.top_index {
    position: absolute;
    width: 280px;
    z-index: -1;
    top: -63px;
    left: 10px;
}

.box-up {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

@media (max-width:767px) {
    .top_index {
        position: absolute;
        width: 200px;
        z-index: -1;
        top: -46px;
        left: 10px;
    }
}

/** ニュースのヘッダーカラー **/
.newsbox-up {
    border-top: #ff9d00 5px solid;
    background-color: #ffffff;
}

.mapbox-up {
    border-top: #ff3d16 5px solid;
    background-color: #ffffff;
}

.formbox-up {
    border-top: #00a5ff 5px solid;
    background-color: #ffffff;
}

.accessbox-up {
    border-top: #ffef3b 5px solid;
    background-color: #ffffff;
}

/** ヘッダー(一番最初のトップデザイン) **/

.headtop {
    position: relative;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    margin-bottom: 20px;
}

.headtop-leftarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.headtop-right {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.headtop-right img {
    width: 100%;
    height: auto;
    display: block;
}

.headtop-themelogo {
    position: absolute;
    top: 2vh;
    left: 3vw;
    width: 30%;
    max-width: 500px;
    height: auto;
    z-index: 1;
}

.headtop-change {
    position: absolute;
    bottom: 0;
    right: 3vw;
    width: 35%;
    max-width: 550px;
    height: auto;
    z-index: 1;
}

.headtop-sp {
    width: 100%;
    height: auto;
}

@media (max-width:767px) {
    .headtop-themelogo {
        left: 4vw;
        width: 50%;
    }

    .headtop-change {
        bottom: 1vh;
        width: 25%;
        max-width: 150px;
    }
}

.payment-btn {
    position: absolute;
    color: #fff;
    font-weight: bold;
    left: 3vw;
    bottom: 5vh;
    display: inline-flex;
    align-items: center;
    padding: 1rem 2rem;
    border: 3px double #333;
    border-radius: 9999px;
    background-color: #ff0000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
    z-index: 5;
}

/* 右側に「〉」を追加 */
.payment-btn::after {
    content: '〉';
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

/* ホバー時の背景色 */
.payment-btn:hover {
    background-color: #ec0000;
}

/* ホバー時に矢印を右にスライド */
.payment-btn:hover::after {
    transform: translateX(5px);
}

@media (min-width:768px) {
    .payment-btn {
        left: 5vw;
        bottom: 8vh;
        padding: 2rem 2rem;
        font-size: 1.3rem;
    }
}