.body {
    line-height: inherit;
    margin: 0;
}

.img,
.svg {
    display: block;
}

.img {
    height: auto;
    max-width: 100%
}

.newsbox {
    position: relative;
    z-index: 3;
    background-color: #ffffff;
}

.newsbox-up {
    background-color: #008dff;
    width: 100%;
    height: auto;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

.newsbox-up-sp {
    display: block;
}

.newsbox-animation {
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
    margin-top: 8vw;
}

@media (max-width: 767px) {
    .newsbox-animation {
        z-index: 5;
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
        margin-top: 11vw;
    }

    .newsbox-up {
        background-color: #ffffff;
    }
}

.newsbox-newstag {
    position: absolute;
    left: -25px;
    top: 0px;
    height: clamp(10px, 25vw, 160px);
    min-height: 110px;
    width: auto;
    z-index: 7;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.announce {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackboard-box {
    width: 90%;
    max-width: 1500px;
    max-height: 70vh;
    min-height: 20vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 1em 0;
    padding: 0em 1em 0 1em;
}

.blackboard-box::before {
    z-index: 7;
    position: absolute;
    right: 1em;
    content: "";
    width: 20vw;
    height: 20vw;
    border-top: 2px dashed #000;
    border-right: 2px dashed #000;
}

.blackboard-box::after {
    z-index: 7;
    position: absolute;
    left: 1em;
    bottom: 1em;
    content: "";
    width: 20vw;
    height: 20vw;
    border-bottom: 2px dashed #000;
    border-left: 2px dashed #000;
}

.blackboard-box::-webkit-scrollbar {
    display: none;
}

.box-010 {
    position: relative;
    width: 90%;
    margin: 3em auto;
    padding: 2.5em 1.5em 1.5em;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    background-color: #f8f0d7;
    color: #000000;
}

.box-010 span {
    position: absolute;
    top: -15px;
    transform: translateX(-.3em) rotate(-5deg);
    padding: .5em 2em;
    border-right: 2px dotted rgb(0 0 0 / 10%);
    border-left: 2px dotted rgb(0 0 0 / 10%);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: rgb(255 255 255 / 40%);
    font-weight: 600;
}

.tets {
    color: #00000094;
    padding-top: 5px;
    text-align: right;
}

.box-010 h1 {
    font-weight: bold;
    margin-bottom: 10px;
}


.box-010 p {
    margin: 0;
}

@media (max-width: 767px) {

    .box-010 {
        width: 100%;
    }

    .blackboard-box {
        width: 93%;
        max-height: 75vh;
    }
}

.map {
    position: relative;
    z-index: 3;
    background-color: white;
}

.mapbox-up {
    background-color: #ff0000;
    width: 100%;
    height: auto;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

.titlecover {
    position: relative;
    z-index: 2;
}

.mapbox-up-sp {
    display: block;
}

.mapbox-animation {
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    margin-top: clamp(20px, 10vw, 150px);
}

@media (max-width: 767px) {
    .mapbox-animation {
        z-index: 5;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
        margin-top: 1rem;
    }

    .mapbox-up {
        background: rgb(255, 255, 255);
    }
}

.charmbox-charmtag {
    position: absolute;
    left: -25px;
    top: 0px;
    height: clamp(10px, 25vw, 160px);
    min-height: 110px;
    width: auto;
    z-index: 7;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.itemcharm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #ffffff;
}

.adbox {
    padding: 20px;
}

.ad {
    border-radius: 20px;
    transform: rotate(-3deg);
}

.foot {
    position: relative;
    z-index: 3;
    background-color: white;
}

.footbox-up {
    background-color: #ff9300;
    width: 100%;
    height: auto;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

.titlecover {
    position: relative;
    z-index: 2;
}

.footbox-up-sp {
    display: block;
}

.footbox-animation {
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    top: clamp(40px, 8vw, 150px);
}

@media (max-width: 767px) {
    .footbox-animation {
        z-index: 5;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    .footbox-up {
        background: white;
    }
}

.footbox-foottag {
    position: absolute;
    left: -25px;
    top: 3.5vw;
    height: clamp(10px, 25vw, 160px);
    min-height: 110px;
    width: auto;
    z-index: 7;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.itemfoot {
    height: 50vh;
    background-color: #ffffff;
}

.imageanimation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.imageanimation.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.imageanimation-image {
    -webkit-animation: loop 40s linear infinite;
    animation: loop 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.imageanimation.reverse .imageanimation-image {
    animation-direction: reverse
}

.imageanimation.vertical .imageanimation-image {
    -webkit-animation: loopVertical 40s linear infinite;
    animation: loopVertical 40s linear infinite
}

.imageanimation-png {
    max-width: none;
    width: 100%
}

.imageanimation:not(.vertical) .imageanimation-png {
    width: auto
}

.imageanimation.hgt .imageanimation-png {
    height: 12vw
}

@-webkit-keyframes loop {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes loop {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@-webkit-keyframes loopVertical {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes loopVertical {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.headtop {
    position: relative;
    z-index: 1;
}

.headtop:after {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 2px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    width: 100%
}

.headtop-leftarea {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.headtop-textanimation {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4.48%
}

.headtop-right {
    padding-bottom: 12vw;
    padding-top: 22.7vw;
    position: relative
}

.headtop-right-sp {
    max-width: none;
    pointer-events: none;
    width: 100%
}

.headtop-themelogo {
    left: 6.4%;
    position: absolute;
    top: 4.4vw;
    z-index: 2
}

.headtop-logo-sp {
    width: 46%
}

.headtop-change {
    left: 5.5%;
    position: absolute;
    top: 46vw;
    z-index: 2
}

.headtop-change-sp {
    max-width: none;
    width: 12vw
}

.hidden-x-side {
    overflow-x: hidden;
}

@media (min-width:768px) {
    .newsbox-newstag {
        left: -40px;
        top: 10px;
        height: 18vw;
        max-height: 250px;
    }

    .charmbox-charmtag {
        left: -40px;
        top: 1vw;
        height: 18vw;
        max-height: 250px;
    }

    .footbox-foottag {
        left: -40px;
        top: 1vw;
        height: 18vw;
        max-height: 250px;
    }

    .imageanimation.hgt .imageanimation-png {
        height: 6vw;
        max-height: 100px;
    }

    .headtop:after {
        display: none
    }

    .headtop-left {
        position: relative
    }

    .headtop-textanimation {
        display: block;
    }

    .headtop-right {
        margin-left: auto;
        max-width: 70%;
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0;
        overflow-y: hidden;
    }

    .headtop-themelogo {
        left: auto;
        margin-top: 5.1%;
        position: static;
        top: auto
    }

    .headtop-logo-sp {
        display: block;
        margin-left: 13.8%;
        width: 25.9%
    }

    .headtop-change {
        left: auto;
        margin-top: 3.6%;
        position: relative;
        top: auto
    }

    .headtop-change-sp {
        display: block;
        margin-left: 10.2%;
        width: 30.9375%
    }
}