.body {
    line-height: inherit;
    margin: 0;
}

.img,
.svg {
    display: block;
}

.img {
    height: auto;
    max-width: 100%
}

/** ヘッダーの共通デザイン **/

.box-tag {
    /** タグのpcサイズ設定は一番下にある (min-width設定) **/
    position: absolute;
    left: -25px;
    top: 0px;
    height: clamp(10px, 25vw, 160px);
    min-height: 110px;
    width: auto;
    z-index: 7;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

.slidebox-animation {
    position: absolute;
    top: 0;
    z-index: 1;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    margin-top: clamp(20px, 10vw, 150px);
}

@media (max-width: 767px) {
    .slidebox-animation {
        z-index: 5;
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
        margin-top: 1rem;
    }
}

.titlecover {
    position: relative;
    z-index: 2;
}

.box-up-sp {
    display: block;
}

.headbox {
    position: relative;
    z-index: 3;
    background-color: white;
}

.box-up {
    width: 100%;
    height: auto;
    min-height: 120px;
    position: relative;
    overflow: hidden;
}

/** ニュースのヘッダーカラー **/
.newsbox-up {
    background-color: #008dff;
}

/** マップのヘッダーカラー **/

.mapbox-up {
    background-color: #ff0000;
}

/** フッターのヘッダーカラー **/

.formbox-up {
    background-color: #ff9300;
}

/** アクセスのヘッダーカラー **/

.accessbox-up {
    background-color: #ff00c3;
}

/** モバイル版では背景を白にする **/

@media (max-width: 767px) {

    .formbox-up,
    .newsbox-up,
    .mapbox-up,
    .accessbox-up {
        background: white;
    }
}

/** タイトルのアニメーション設定 **/

.imageanimation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.imageanimation.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.imageanimation-image {
    -webkit-animation: loop 40s linear infinite;
    animation: loop 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.imageanimation.reverse .imageanimation-image {
    animation-direction: reverse
}

.imageanimation.vertical .imageanimation-image {
    -webkit-animation: loopVertical 40s linear infinite;
    animation: loopVertical 40s linear infinite
}

.imageanimation-png {
    max-width: none;
    width: 100%
}

.imageanimation:not(.vertical) .imageanimation-png {
    width: auto
}

.imageanimation.hgt .imageanimation-png {
    height: 12vw
}

@-webkit-keyframes loop {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@keyframes loop {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}

@-webkit-keyframes loopVertical {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes loopVertical {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

/** ヘッダー(一番最初のトップデザイン) **/

.headtop {
    position: relative;
    z-index: 1;
}

.headtop:after {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 2px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    width: 100%
}

.headtop-leftarea {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.headtop-textanimation {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4.48%
}

.headtop-right {
    padding-bottom: 12vw;
    padding-top: 22.7vw;
    position: relative
}

.headtop-right-sp {
    max-width: none;
    pointer-events: none;
    width: 100%
}

.headtop-themelogo {
    left: 6.4%;
    position: absolute;
    top: 4.4vw;
    z-index: 2
}

.headtop-logo-sp {
    width: 46%
}

.headtop-change {
    left: 5.5%;
    position: absolute;
    top: 46vw;
    z-index: 2
}

.headtop-change-sp {
    max-width: none;
    width: 12vw
}

.hidden-x-side {
    overflow-x: hidden;
}

@media (min-width:768px) {
    .box-tag {
        left: -40px;
        top: 1vw;
        height: 18vw;
        max-height: 250px;
    }

    .imageanimation.hgt .imageanimation-png {
        height: 6vw;
        max-height: 100px;
    }

    .headtop:after {
        display: none
    }

    .headtop-left {
        position: relative
    }

    .headtop-textanimation {
        display: block;
    }

    .headtop-right {
        margin-left: auto;
        max-width: 70%;
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0;
        overflow-y: hidden;
    }

    .headtop-themelogo {
        left: auto;
        margin-top: 5.1%;
        position: static;
        top: auto
    }

    .headtop-logo-sp {
        display: block;
        margin-left: 13.8%;
        width: 25.9%
    }

    .headtop-change {
        left: auto;
        margin-top: 3.6%;
        position: relative;
        top: auto
    }

    .headtop-change-sp {
        display: block;
        margin-left: 10.2%;
        width: 30.9375%
    }
}