.topsearch {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #fff;
}

.topsearch_event {
    width: 100%;
    height: 25vh;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search_event {
    width: 80%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 8px rgb(0, 177, 3) solid;
    font-size: clamp(20px, 4vw, 40px);
    position: relative;
    overflow: hidden;
    position: relative;
}

.bottom_search {
    width: 100%;
    height: 23vh;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom_grid {
    width: 80%;
    height: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    font-size: clamp(17px, 3vw, 35px);
}

._search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 8px rgb(0, 177, 3) solid;
    position: relative;
    overflow: hidden;
}

.top_map_icon {
    bottom: -10px;
    right: -5%;
    position: absolute;
    opacity: 0.3;
    width: 30%;
    max-width: 250px;
    height: auto;
}

.top_time_icon {
    bottom: -10px;
    right: -5%;
    position: absolute;
    opacity: 0.3;
    width: 30%;
    max-width: 250px;
    height: auto;
}

.top_event_icon {
    bottom: -10px;
    right: -5%;
    position: absolute;
    opacity: 0.3;
    width: 30%;
    max-width: 250px;
    height: auto;
}

._search::before,
._search::after,
.search_event::before,
.search_event::after {
    position: absolute;
    content: "";
    bottom: 0;
}

._search::before,
.search_event::before {
    width: 20px;
    left: 10px;
    border: solid 3px #ffae00;
    /*チョーク（黄色）*/
    border-radius: 3px 2px 0 2px;
}

._search::after,
.search_event::after {
    width: 15px;
    left: 45px;
    border: solid 3px #00a2ff;
    /*チョーク（白） */
    border-radius: 8px 5px 2px 5px;
}